<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostname" value="http://localhost.maev1p7sb4.scancommerce.int/"/>
    <add key="hostoverride" value="cm5CdCtsS3N4SjFpaWhOWGFLTXJYZXdSdlBXR1JLMFQ="/>
    <add key="authentication" value="rcDwHm7nXvsQlQp6UvSF5gO2oD5nh9BGybCr/CLUyLPGosJiTgHN1B/t5UJLRKt/7LUbBuFsH7XMxuEfXKrf/w=="/>
    <add key="apikey" value="eseller"/>
    <add key="apisecret" value="abc"/>
    <add key ="basketId" value="9597951"/>
  </appSettings>
</configuration>